body {
    background-color: lightblue;
}
h1 {
  color: gray;
}
    .description {
      color: white;
    }
    .secondDescription {
      color: white;
    }
    .thirdPage {
      color: darkgray;
    }


  
